<h2 class="title is-2">Add Points of Interest</h2>

<div class="section">
  <p>Select points of interest to place on map</p>
  <form ng-submit="createMarkers()">
    <div class="field">
      <label for="markers.placeOfInterest">Entrance/exit</label>
      <select class="select">
        <option value="0" default>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>

    <div class="field">
      <label for="markers.placeOfInterest">Stage</label>
      <select class="select">
        <option value="0" default>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>

    <div class="field">
      <label for="markers.placeOfInterest">Food/drink</label>
      <select class="select">
        <option value="0" default>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>

    <div class="field">
      <label for="markers.placeOfInterest">Toilet</label>
      <select class="select">
        <option value="0" default>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>

    <div class="field">
      <label for="markers.placeOfInterest">First Aid</label>
      <select class="select">
        <option value="0" default>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>

    <div class="field">
      <label for="markers.placeOfInterest">Drug Testing</label>
      <select class="select">
        <option value="0" default>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>

  </form>
</div>

<div class="section">
  <hr>
  <div class="map" id="map" ng-map>
  </div>
</div>
<hr>
