<p> I am at the passengers index </p>
<p> I am at the passengers index </p>
<p> I am at the passengers index </p>
<p> I am at the passengers index </p>
<p> I am at the passengers index </p>

<p>the pending passengers will be at the top - only the organiser can see these and choose to reject or accept.</p>

<button  ng-if="carShare.passengers.length > 0 || carShare.pendingPassengers.length > 0" ng-click=reloadRoute()>Update</button>

<div class="" ng-if="carShare.createdBy === idCheck" ng-repeat="pendingPassenger in carShare.pendingPassengers">
  <p>{{ pendingPassenger.firstName }}</p>
<a ng-if="pendingPassenger.carShares.includes(carShare._id)" ng-click="acceptPassengerRequest(pendingPassenger._id)" class="button">Accept</a>
<a ng-if="pendingPassenger.carShares.includes(carShare._id)"  ng-click="rejectPassengerRequest(pendingPassenger._id)" class="button">Reject</a>
</div>


<div class="" ng-repeat="passenger in carShare.passengers">
  <p>{{ passenger.firstName }}</p>
  need to link to their user profile
  <a ng-click="removePassenger(passenger._id)" class="button">Remove</a>
</div>




</div>
