<div class="container section festival-index-section is-mobile">
  <div ng-repeat="event in festivals | filter: searchBox">
    <a ui-sref="festivalsShow({ id: event._id })">

      <div class="festival-index-section">
        <img class="add-shadow" ng-src={{event.photoUrl}} alt="{{ event.name }}">
      </div>

    </a>


    <div class="columns is-mobile festival-panel add-shadow">

      <div class="column is-6-mobile festival-title-wrapper">
        <a ui-sref="festivalsShow({ id: event._id })">
          <h2 class="festival-title title is-6 has-text-white">{{ event.name }}</h2>

          <div class="subtitle is-7 has-text-white festival-date" ng-if="event.startDate !== event.endDate">
            <p>{{ event.startDate }}-{{ event.endDate }}</p>
          </div>

          <div class="subtitle is-7 has-text-white" ng-if="event.startDate === event.endDate">
            <p>{{ event.startDate }}</p>
          </div>
        </a>
      </div>



        <div class="column is-6-mobile">
          <a ui-sref="attendeesIndex({id: event._id})" class="button attendee-index-button-2">
            <h3 class="color">See who else is attending </h3>
          </a>
            </div>
        </div>

        <span><i class="fas fa-share-alt festival-alt-icon"></i></span>
    </div>

  </div>
  <p class="festival-text has-text-white has-text-centered" >Are you a festival organiser? <a class="has-text-white" ui-sref="festivalsNew"><b>Click here</b></a></p>

</div>
