<div class="section">


<form ng-submit="createFestival()">

  <h2 class="title is-5 has-text-white"> Add a Festival </h2>


  <div class="field">
    <label class="label has-text-white" for="name">Festival Name</label>
    <input class="input" ng-model="festival.name" type="text" name="name">
  </div>

  <div class="field">
    <label class="label has-text-white" for="startDate">Start Date</label>
    <input class="input" ng-model="festival.startDate" type="date" name="startDate">
  </div>

  <div class="field">
    <label class="label has-text-white" for="endDate">End Date</label>
    <input class="input" ng-model="festival.endDate" type="date" name="endDate">
  </div>

  <hr>

  <div class="field">
    <label class="label has-text-white" for="address">Address</label>
    <input class="input" ng-model="festival.location.address" type="text" name="address">
  </div>

  <div class="field">
    <label class="label has-text-white" for="postcode">Postcode</label>
    <input class="input" ng-model="festival.location.postcode" type="text" name="postcode">
  </div>

  <!-- <div class="field">
    <label class="label" for="location">Address Line 2</label>
    <input class="input" ng.model="festival.location" type="text" name="location">
  </div>

  <div class="field">
    <label class="label" for="location">Town/City</label>
    <input class="input" ng.model="festival.location" type="text" name="location">
  </div>

  <div class="field">
    <label class="label" for="location">Postcode</label>
    <input class="input" ng.model="festival.location" type="text" name="location">
  </div> -->

  <hr>

  <div class="field">
    <label class="label has-text-white" for="camping">Camping</label>
    <input ng-model="festival.camping" type="radio" name="camping" value="yes">Yes
    <input ng-model="festival.camping" type="radio" name="camping" value="no">No
  </div>

  <div class="field">
    <label class="label has-text-white" for="headlining">Headlining Artists</label>
    <input class="input" ng-model="festival.headlining" type="text" name="headlining">
    <!-- <input class="input" ng.model="festival.headlining" type="text" name="headlining" value="">
    <input class="input" ng.model="festival.headlining" type="text" name="headlining" value=""> -->
  </div>


  <div class="field">
    <label class="label has-text-white"  for="photoUrl" >Photo (URL)</label>
    <a class="button" ng-click="uploadImage()" ng-if="!imageUploaded">Pick an image</a>
    <a class="button" ng-click="uploadImage()" ng-if="imageUploaded">Image uploaded</a>
    <div class="control">
      <input ng-model="festival.photoUrl" class="input" type="text" id="photoUrl" name="photoUrl">
    </div>
  </div>

  <button class="button set-up-car-share">Submit</button>

</form>
