<div class="section">
  <img ng-src={{festival.photoUrl}} alt={{festival.name}}>
  <ul ng-repeat="artist in festival.headlining">
    <li>{{ artist }}</li>
  </ul>
  <p>{{ festival.location.address }}</p>
  <p>Camping: {{ festival.camping }}</p>
</div>
<div class="section">
  <a class="button" ng-if="!attendance" ng-click="attending()">Come along!</a>
  <a class="button" ng-if="attendance" ng-click="notAttending()">Attending</a>
<div>
<div class="section">
  <p>Instagram</p>
</div>

<div class="section">
  <a class="button" ui-sref="carSharesIndex({ festivalId: festival._id })">Find a Ride Here</a>
  <a class="button" ui-sref="publicTransportIndex">Public Transport</a>
</div>

<div class="section">
<div class="columns is-mobile">
  <div class="column is-one-fifth">
    <figure>
      <canvas class="weathericon" id="{{todayIcon}}" width="50" height="50"></canvas>
    </figure>
    <p>Today</p>
    <p>{{ todayCelsius }}ºC</p>
    <p>{{ weather.currently.summary }}</p>
    <p>Chance of rain: {{ todayRain }}%</p>
  </div>
  <div class="column is-one-fifth">
    <figure>
      <canvas id="{{tomorrowIcon}}" width="50" height="50"></canvas>
    </figure>
    <p>Tomorrow</p>
    <p>{{ tomorrowCelsius }}ºC</p>
    <p>{{ tomorrowWeather.summary }}</p>
    <p>Chance of rain: {{ tomorrowRain }}%</p>
  </div>
  <div class="column is-one-fifth">
    <figure>
      <canvas id="{{dayThreeIcon}}" width="50" height="50"></canvas>
    </figure>
    <p>{{ dayThreeDate }}</p>
    <p>{{ dayThreeCelsius }}ºC</p>
    <p>{{ dayThreeWeather.summary }}</p>
    <p>Chance of rain: {{ dayThreeRain }}%</p>
  </div>
  <div class="column is-one-fifth">
    <figure>
      <canvas id="{{dayFourIcon}}" width="50" height="50"></canvas>
    </figure>
    <p>{{ dayFourDate }}</p>
    <p>{{ dayFourCelsius }}ºC</p>
    <p>{{ dayFourWeather.summary }}</p>
    <p>Chance of rain: {{ dayFourRain }}%</p>
  </div>
  <div class="column is-one-fifth">
    <figure>
      <canvas id="{{dayFiveIcon}}" width="50" height="50"></canvas>
    </figure>
    <p>{{ dayFiveDate }}</p>
    <p>{{ dayFiveCelsius }}ºC</p>
    <p>{{ dayFiveWeather.summary }}</p>
    <p>Chance of rain: {{ dayFiveRain }}%</p>
  </div>
</div>
</div>

<div class="section">
  <hr>
  <div class="map" id="map" ng-map>

  </div>
  <a ui-sref="mapsNew({id: festival._id})">Add points of interest</a>
  <hr>
</div>

<div class="section">
  <button class="button festival-show-button" ui-sref="festivalsEdit({ id: festival._id })">Edit {{ festival.name }}</button>
  <button class="button festival-show-button" ng-click="deleteFestival()">Delete {{ festival.name }}</button>
</div>

<footer div="footer">
  <p class="subtitle is-3">{{ festival.name }}</p>
  <div class="columms is-multiline">
    <div class="column is-one-half">
      <div ng-if="festival.startDate !== festival.endDate">
        <p>{{ festival.startDate }}-{{ festival.endDate }}</p>
      </div>
      <div ng-if="festival.startDate === festival.endDate">
        <p>{{ festival.startDate }}</p>
      </div>
    </div>
    <div class="column is-half">
      <p>
        <span><i class="fab fa-youtube"></i></span>
        <span><i class="fab fa-vimeo-v"></i></span>
        <span><i class="fab fa-instagram"></i></span>
        <span><i class="fab fa-twitter"></i></span>
        <span><i class="fab fa-facebook"></i></span>
        <span><i class="fas fa-share-alt"></i></span>
      </p>
    </div>
  </div>
</footer>
