<div class="section festival-index-section">
  <img class="add-shadow" ng-src={{festival.photoUrl}} alt={{festival.name}}>
    <p class="has-text-white festival-title festival-address" ><b>{{ festival.location.address }}</b></p>
    <div class="artist-overlay add-shadow has-text-centered">
      <span ng-repeat="artist in festival.headlining" class="has-text-white festival-show-artists">
        {{ artist }}
      </span>
    </div>
    <div class="columns is-mobile is-multiline festival-show-info">

      <div class="column is-6-mobile padding">

        <div class="subtitle is-7 has-text-white" ng-if="festival.startDate !== festival.endDate">
          <p class="festival-show-text">{{ festival.startDate }}-{{ festival.endDate }}</p>
        </div>

        <div class="subtitle is-7 has-text-white " ng-if="festival.startDate === festival.endDate">
          <p class="festival-show-text">{{ festival.startDate }}</p>
        </div>

        <p class="has-text-white subtitle is-7 festival-show-text" >Camping: {{ festival.camping }}</p>

      </div>

      <div class="column is-6-mobile has-text-centered">
          <a class="button festival-show-button" ng-if="!attendance" ng-click="attending()">Come along!</a>
          <a class="button festival-show-button" ng-if="attendance" ng-click="notAttending()">Attending</a>
      </div>

      <div class="column is-6-mobile has-text-centered">
        <a class="button festival-show-button find-ride-button" ui-sref="carSharesIndex({ festivalId: festival._id })">Find a Ride Here</a>
      </div>

      <div class="column is-6-mobile has-text-centered">
          <a class="button festival-show-button public-transport-button" ui-sref="publicTransportIndex">Public Transport</a>
      </div>

    </div>

        <hr>
        <div class="map" id="map" ng-map>

        </div>
        <hr>



<div <div ng-class=" expand ? 'show-info-wrapper' : 'hide-info-wrapper'" class="weather-wrapper weather-overlay add-shadow columns is-mobile is-multiline festival-show-info has-text-white">

  <div class="column is-one-fifth is-one-fifth-mobile" ng-repeat="weather in weatherDays">
    <div ng-click="toggleExpand()">
      <figure>
        <ng-skycon icon="{{weather.icon}}">
          <canvas class="weathericon" width="50" height="50"></canvas>
        </ng-skycon>
      </figure>
      <p class="weather-title">{{weather.date}}</p>
      <p class="weather-temp">{{ weather.temperature }}ºC</p>
      <div ng-class=" expand ? 'show-info' : 'hide-info'" ng-click="toggleExpand()">
        <p class="weather-text">Chance of rain: {{ weather.chanceOfRain }}%</p>
        <p class="weather-text">UV Index: {{weather.uvIndex}}</p>
      </div>
    </div>






  </div>
</div>

<div class="has-text-centered">


    <div class="columns is-mobile is-multiline">
      <div class="column is-6-mobile">
        <button class="button festival-show-edit" ui-sref="festivalsEdit({ id: festival._id })">Edit {{ festival.name }}</button>
      </div>
      <div class="column is-6-mobile">
          <button class="button festival-show-delete" ng-click="deleteFestival()">Delete {{ festival.name }}</button>
      </div>
    </div>

</div>

</div>











<footer div="footer">
  <div class="has-text-white">
  <h3 class="subtitle is-4 has-text-white">{{ festival.name }}</h3>
  <div class="columms">
    <div class="column is-5">
      <div ng-if="festival.startDate !== festival.endDate">
        <p class="footer-date" >{{ festival.startDate }}-{{ festival.endDate }}</p>
      </div>
      <div ng-if="festival.startDate === festival.endDate">
        <p>{{ festival.startDate }}</p>
      </div>
    </div>
    <div class="column is-half footer-icons">
      <p>
        <span ng-if=(festival.socialMedia.youtube)><a href={{festival.socialMedia.youtube}}><i class="fab fa-youtube"></i></a></span>
        <span ng-if=(festival.socialMedia.instagram)><a href={{festival.socialMedia.instagram}}><i class="fab fa-instagram"></i></a></span>
        <span ng-if=(festival.socialMedia.twitter)><a href={{festival.socialMedia.twitter}}><i class="fab fa-twitter"></i></a></span>
        <span ng-if=(festival.socialMedia.facebook)><a href={{festival.socialMedia.facebook}}><i class="fab fa-facebook"></i></a></span>
        <span><i class="fas fa-share-alt"></i></a</span>
      </p>
    </div>
  </div>
</div>
</footer>
