<div class="section passenger-section passenger-wrapper">
  <h2>{{user.firstName}}'s Friends List</h2>

  <a  class="button festival-button update-button" ng-if="user.userFriends.length > 0 || carShare.pendingPassengers.length > 0" ng-click=reloadRoute()>Update</a>
  <div class="passenger-panels add-shadow" ng-if="user._id === currentUser()._id" ng-repeat="pendingFriend in user.pendingFriends">
    <div class="passenger-text-wrapper">
      <img class="passenger-profile-picture-2" ng-src="{{ pendingFriend.image }}" alt="{{ pendingFriend.firstName }}">
      <p class="has-text-white passenger-index-text indent"><b>{{ pendingPassenger.firstName }} {{ pendingPassenger.lastName }}</b> pending friend</p>

    </div>


    <a ng-if="pendingFriend.userFriends.includes(user._id)" ng-click="acceptFriendRequest(pendingFriend._id)" class="button festival-button accept-button">Accept</a>

    <a ng-if="pendingPassenger.carShares.includes(carShare._id)"  ng-click="rejectPassengerRequest(pendingPassenger._id)" class="button festival-button reject-button">Reject</a>

  </div>


  <div class="passenger-panels add-shadow" ng-repeat="friend in user.userFriends">
    <div class="passenger-text-wrapper-2">

    <p class="has-text-white passenger-index-text indent"><b>{{ friend.firstName }} {{ friend.lastName }}</b> friiiiiiends</p>


    <img class="passenger-profile-picture-2" ng-src="{{ friend.image }}">

    <a ng-if="carShare.createdBy === idCheck" ng-click="removePassenger(passenger._id)" class="button festival-button remove-button">Remove</a>

    <a ng-if="carShare.createdBy !== idCheck" ng-click="removePassenger(passenger._id)" class="button festival-button">Cancel</a>
    </div>
  </div>




  </div>

</div>
