.main-body {
  margin-top: 100px;
}

.map {
  height: 300px;
  width: 90vw;

}

.currentLocation {
  color: white;
}


.profileNamePosition {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  background-color: #36223B;
  height: 300px;
  width: 85%;
  margin-left: 35px;
  .white{
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding-top: 50px;
    padding-right: 50px;
    position: absolute;
    right: 20px;
  }
  .emailPosition {
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding-top: 70px;
    padding-right: 50px;
    position: absolute;
    right: 20px;
    top: 50px;
  }
  .userMap {
    color: white;
    position: absolute;
    right: 90px;
    padding-top: 100px;
    height: 10px;
    width: 50vw;
  }
}



.profileImage {
  padding-top: 10px;
  padding-left: 10px;
  height: 160px;
  width: 160px;
}

.headerImage {
  height: 50px;
  width: 50px;
}

.navbar-brand {
  background-color: #36223B;

  .dropdown.is-active {
    background-color: #36223B;
  }
}

.burger-color {
  color: white;
}

.navbar-burger {
  height: 50px;
  width: 50px;
  color: white;
}
