.main-body {
  margin-top: 100px;
}

.map {
  height: 300px;
  width: 90vw;

}


.profileImage {
  height: 150px;
  width: 150px;
}

.headerImage {
  height: 50px;
  width: 50px;
}


.navbar-burger {
  height: 50px;
  width: 50px;
}


.userMap {
  height: 150px;
  width: 90vw;
}
