.main-body {
  margin-top: 61px;

}

.map {
  height: 300px;
  width: 90vw;

}

#currentLocation {
  font-style: 200px;
  left: 30px;
}

.profileButton {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 60px;
}

#atfestdiv {
  height: 50px;
  margin-bottom: 10px;
  margin-left: 40px;
  background-color: #36223B;
  width: 85%
}

#atfest {
  color: white;
  font-size: 20px;
  margin-left: 42px;
  padding-top: 15px;
  margin-bottom: 1px;
}

.friendlist {
  margin-top: 17px;
}

.loginPage {
  color: white;
  padding-left: 20px;
}

.registerIntro {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

.backgroundImage {
  background-image: url(https://i.imgur.com/Hk6NTtl.png);
  background-size: 100vh;
}

.topHalf {
  padding-top: 20px;
}

.profileNamePosition {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  background-color: #36223B;
  height: 355px;
  width: 85%;
  margin-left: 38px;
  .white{
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding-top: 50px;
    padding-right: 50px;
    position: absolute;
    right: 20px;
  }
  .emailPosition {
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding-top: 70px;
    padding-right: 50px;
    position: absolute;
    right: 20px;
    top: 50px;
  }
  .userMap {
    color: white;
    position: absolute;
    right: 15px;
    padding-top: 160px;
    height: 150px;
    width: 70vw;
  }
}



.profileImage {
  padding-top: 10px;
  padding-left: 10px;
  height: 160px;
  width: 160px;
}

.headerImage {
  height: 50px;
  width: 50px;
}

.navbar-brand {
  background-color: #36223B;
}
.dropdown.is-active {
    background-color: #36223B;

  }



.burger-color {
  color: white;
}

.navbar-burger {
  height: 50px;
  width: 50px;
  color: white;
}

.backgroundImage {
  height: 655px;
}
