<p>Welcome back to Whiskease. Please log in fucker! (Not got an account? <a>Sign Up!</a>)</p>
<form ng-submit="login()">
  <div class="field">
    <label class="label" for="email">Email</label>
    <input ng-model="user.email"  class="input" type="text" name="email"placeholder="">
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <input ng-model="user.password" class="input" type="password" name="password"placeholder="">
  </div>
  <button class="button">Log In</button>
</form>
