<div style="margin-top: -10px;">
  <div class="registerIntro">
    <p style="color: white;" style="padding: 50px;">Welcome to your best festival companion!</p>
    <p style="color: white;" style="padding: 50px;">Already got an account? <a ui-sref="login">Log in!</p>
    <p style="color: white;" style="padding: 50px;"></a>Please register bellow</a></p>
  </div>
  <form style="padding-left: 50px; padding-right: 50px"; ng-submit="register()" name="form" novalidate>

    <div class="field">
      <label class="label has-text-white"  for="profilePicture" >Profile Picture (URL)</label>
      <a class="button" ng-click="uploadImage()" ng-if="!imageUploaded">Pick an image</a>
      <a class="button" ng-click="uploadImage()" ng-if="imageUploaded">Image uploaded</a>
      <div class="control">
        <input ng-model="user.image" class="input" type="text" id="profilePicture" name="profilePicture">
      </div>
    </div>

    <div style="padding-top: 10px;" class="field">
      <label style="color: white;" class="label" for="firstName">First Name</label>
      <input required minLength="2" ng-model="user.firstName" class="input" type="text" name="firstName"placeholder="">
    </div>
    <div class="field">
      <label style="color: white;" class="label" for="lastName">Last Name</label>
      <input ng-model="user.lastName" class="input" type="text" name="lastName"placeholder="">
    </div>
    <div class="field">
      <label style="color: white;" class="label" for="email">Email</label>
      <input ng-model="user.email" class="input" type="email" name="email"placeholder="">
    </div>
    <div class="field">
      <label style="color: white;" class="label" for="password">Password</label>
      <input ng-model="user.password" class="input" type="password" name="password"placeholder="">
    </div>
    <div class="field">
      <label style="color: white;" class="label" for="passwordConfirmation">Confirm Password</label>
      <input ng-model="user.passwordConfirmation" class="input" type="password" name="passwordConfirmation"placeholder="">
    </div>
    <button style="background-color: #36223B; color: white; border: none;" class="button">Sign up!</button>
  </form>
</div>
