<div class="section section car-share-section">
  <div class="columns is-mobile car-share-festival-panel">

    <div class="column is-7-mobile car-share-title-wrapper">
      <h2 class="car-share-title title is-6 has-text-white">{{ festival.name }}</h2>
      <div class="subtitle is-7 has-text-white" ng-if="festival.startDate !== festival.endDate">
        <p>{{ festival.startDate }}-{{ festival.endDate }}</p>
      </div>
      <div class="subtitle is-7 has-text-white" ng-if="festival.startDate === festival.endDate">
        <p>{{ festival.startDate }}</p>
      </div>
    </div>

    <div class="column is-5-mobile icon-wrapper">
      <p class="icon-bar">
        <span><i class="fab fa-youtube car-share-icon"></i></span>
        <span><i class="fab fa-vimeo-v car-share-icon"></i></span>
        <span><i class="fab fa-instagram car-share-icon"></i></span>
        <span><i class="fab fa-twitter car-share-icon"></i></span>
        <span><i class="fab fa-facebook car-share-icon"></i></span>
        <span><i class="fas fa-share-alt car-share-icon"></i></span>
      </p>
    </div>

  </div>
</div>
<div class="section car-share-section column is-12 has-text-centered">
  <a class="button set-up-car-share" ui-sref="carSharesNew({ festivalId: festival._id })">
    Set up a car share
  </a>
<div class="container">
  <div class="ride-panels" ng-repeat="ride in carShares">
    <a class="has-text-white" ui-sref="carSharesShow({ festivalId: festival._id, carShareId: ride._id })">
      <div class="columns is-mobile is-multiline ride-info-wrap">

        <img class="car-share-profile-picture" ng-src="{{ ride.createdBy.profilePic}}" alt="{{ ride.createdBy.firstName}}">

        <div class="column is-12 has-text-centered">
          <p class="ride-panel-title" > Grab a ride with {{ ride.createdBy.firstName }}</p>
        </div>

        <div class="column is-6">
          <p class="subtitle is-7 has-text-white line-height remove-margin" >{{ride.departureDate}} - {{ride.returnDate}}</p>
          <p class="subtitle is-7 has-text-white line-height remove-margin" >Price: £{{ ride.price}}</p>
        </div>
        <div class="column is-6">
          <p class="subtitle is-7 has-text-white line-height remove-margin" >Seats remaining: {{ride.seatsRemaining}}</p>
          <p class="subtitle is-7 has-text-white line-height remove-margin" >From: {{ ride.from.postcode}}</p>
        </div>

      </div>

      <span><i class="car-share-alt-icon fas fa-share-alt car-share-icon"></i></span>
    </a>
  </div>

</div>
</div>
