<div class="container section">
  <h2 class="title is-4">{{ carShare.festival.name }}</h2>
  <div ng-if="carShare.festival.startDate !== carShare.festival.endDate">
    <p>{{ carShare.festival.startDate }}-{{ carShare.festival.endDate }}</p>
  </div>
  <div ng-if="carShare.festival.startDate === carShare.festival.endDate">
    <p>{{ carShare.festival.startDate }}</p>
  </div>


  <div class="section" ng-if="carShare.createdBy._id !== idCheck && carShare.seatsRemaining">
    <a class="button" ng-if="passengerStatus === 'nonPassenger'" ng-click="requestRide()">Request a seat!</a>
    <a class="button" ng-if="passengerStatus === 'pending'" ng-click="cancelRide()">Pending - cancel?</a>
    <a class="button" ng-if="passengerStatus === 'Passenger'" ng-click="cancelRide()">Cancel ride</a>
  </div>

  <a ui-sref="passengersIndex({festivalId: carShare.festival._id, carShareId: carShare._id})">This is the index - place this link ver the images of passengers</a>

<div class="section" ng-if="carShare.createdBy._id === idCheck">
  Organiser - See pending button index here - should go through to accept or reject.
</div>

  <div class="column">
    <p>
      <span><i class="fab fa-youtube"></i></span>
      <span><i class="fab fa-vimeo-v"></i></span>
      <span><i class="fab fa-instagram"></i></span>
      <span><i class="fab fa-twitter"></i></span>
      <span><i class="fab fa-facebook"></i></span>
      <span><i class="fas fa-share-alt"></i></span>
    </p>
  </div>
</div>
<div class="container">
    <p> Grab a ride with {{ carShare.createdBy.firstName }}</p>

    <a class="button"  ng-if=" idCheck === carShare.createdBy._id " ui-sref="carSharesEdit({ festivalId: carShare.festival._id, carShareId: carShare._id})"><i class="far fa-edit"></i></a>

    <a class="button" ng-if=" idCheck === carShare.createdBy._id " ng-click="deleteCarShare()({festivalId: carShare.festival._id, carShareId: carShare._id})" > <i class="far fa-trash-alt"></i></a>

    <p> Seats available {{ carShare.seatsRemaining }}</p>
</div>
