<div class="container section">
  <h2 class="title is-4">{{ carShare.festival.name }}</h2>
  <div ng-if="carShare.festival.startDate !== carShare.festival.endDate">
    <p>{{ carShare.festival.startDate }}-{{ carShare.festival.endDate }}</p>
  </div>
  <div ng-if="carShare.festival.startDate === carShare.festival.endDate">
    <p>{{ carShare.festival.startDate }}</p>
  </div>


  <a class="button"  ng-if=" idCheck === carShare.createdBy._id " ui-sref="carSharesEdit({ festivalId: carShare.festival._id, carShareId: carShare._id})"><i class="far fa-edit"></i></a>

  <a class="button" ng-click="deleteCarShare()" > <i class="far fa-trash-alt"></i></a>
  <div class="column">
    <p>
      <span><i class="fab fa-youtube"></i></span>
      <span><i class="fab fa-vimeo-v"></i></span>
      <span><i class="fab fa-instagram"></i></span>
      <span><i class="fab fa-twitter"></i></span>
      <span><i class="fab fa-facebook"></i></span>
      <span><i class="fas fa-share-alt"></i></span>
    </p>
  </div>
</div>
<div class="container">
      <p> Grab a ride with {{ carShare.createdBy.firstName }}
</div>
