<h1 style="padding-top: 10px;"class="color headingAlign title is-2 has-text-white">Edit Profile</h1>
<div style="margin-top: -10px;" >
  <form style="padding-left: 50px; padding-right: 50px"; ng-submit="updateUser()" name="form" novalidate>
      <div class="field">
        <label class="label has-text-white"  for="profilePicture" >Profile Picture (URL)</label>
        <a class="button" ng-click="uploadImage()" ng-if="!imageUploaded">Pick an image</a>
        <a class="button" ng-click="uploadImage()" ng-if="imageUploaded">Image uploaded</a>
        <div class="control">
          <input ng-model="user.image" class="input" type="text" id="profilePicture" name="profilePicture">
        </div>
      </div>

      <div style="padding-top: 10px;" class="field">
        <label style="color: white;" class="label" for="firstName">First Name</label>
        <input required minLength="2" ng-model="user.firstName" class="input" type="text" name="firstName"placeholder="">
      </div>
      <div class="field">
        <label style="color: white;" class="label" for="lastName">Last Name</label>
        <input ng-model="user.lastName" class="input" type="text" name="lastName"placeholder="">
      </div>
      <div class="field">
        <label style="color: white;" class="label" for="email">Email</label>
        <input ng-model="user.email" class="input" type="email" name="email"placeholder="">
      </div>

      <button style="background-color: #36223B; color: white; border: none;" class="button">Save!</button>
    </form>

  </div>
