<section ng-if="isAuthenticated()" class="profileTopPadding" ng-controller="UsersShowCtrl">
<div class="topHalf section">
    <div class="profileNamePosition">
      <img style="border-radius: 100%;" class="profileImage" ng-src="{{ user.image }}" alt="{{ user.name }}">
      <h1 class="white title is-1">{{ user.firstName }}</h1>
      <h2 class="emailPosition subtitle is-7">Email: {{ user.email }}</h2>
      <h2 class="emailPosition subtitle is-7 white">Mobile: {{ user.mobileNumber }}</h2>

      <div ng-repeat="friend in user.friends" class="container">
        <h2 class="emailPosition subtitle is-7 white friendlist">Friends: {{ friends.firstName }}</h2>
      </div>

      <a class="button festival-show-button friendsList-button" ui-sref="friendsIndex({id: user._id })">Friends list</a>


      <div class="userMap">
          <h2 id="currentLocation" subtitle is-7>Current Location</h2>
          <div class="userMap" ng-map></div>

      </div>
    </div>
  </div>
  <div class="contact">
  </div>
  <h2 id="atfest" class="profileStyling subtitle is-7">Festivals Attending</h2>
  <div class="festivalsAttending">
    <div ng-repeat="festival in user.festivalsAttending" class="festivalsAttending container" >
      <a ui-sref="festivalsShow({ id: festival._id })">
        <h3 class="color nameSize">{{ festival.name }}</h3>
        <h3 class="color">{{ festival.startDate }}</h3>
        <h3 class="color">Attendees: </h3>
        <div ng-repeat="attendee in festival.attendees">
          <h3 class="color">{{ attendee.firstName }}</h3>
        </div>
      </a>
    </div>
  </div>

  <div ng-if="currentUser()._id !== user._id" class="">
   <a class="button friend-request-button" ng-click="sendFriendRequest()" ng-if="friendStatus === 'nonFriend'">Add friend</a>
   <a class="button friend-request-button" ng-click="removeFriend()" ng-if="friendStatus === 'pending'">Pending</a>
   <a ng-if="friendStatus === 'friend'" class=" friend-request-button button" ng-click="removeFriend()">Friends</a>
 </div>

  <span>
    <button class="profileButton" ui-sref="usersEdit({ userId: currentUser()._id })">Edit Profile</button>
    <button class="deleteButton" ng-click="deleteUser()">Delete Account</button>
  </span>
</section>
